# Ubuntu dante-server. Credentials live in the system password database.
logoutput: stderr
internal: 0.0.0.0 port = 10808
external.protocol: ipv4
external: eth0
user.privileged: root
user.notprivileged: gpt-switch-proxy
clientmethod: none
socksmethod: username
timeout.negotiate: 15
timeout.connect: 15
client pass {
    from: 0.0.0.0/0 to: 0.0.0.0/0
    log: error
}
socks block {
    from: 0.0.0.0/0 to: 0.0.0.0/8
    log: error
}
socks block {
    from: 0.0.0.0/0 to: 10.0.0.0/8
    log: error
}
socks block {
    from: 0.0.0.0/0 to: 100.64.0.0/10
    log: error
}
socks block {
    from: 0.0.0.0/0 to: 127.0.0.0/8
    log: error
}
socks block {
    from: 0.0.0.0/0 to: 169.254.0.0/16
    log: error
}
socks block {
    from: 0.0.0.0/0 to: 172.16.0.0/12
    log: error
}
socks block {
    from: 0.0.0.0/0 to: 192.0.0.0/24
    log: error
}
socks block {
    from: 0.0.0.0/0 to: 192.168.0.0/16
    log: error
}
socks block {
    from: 0.0.0.0/0 to: 198.18.0.0/15
    log: error
}
socks block {
    from: 0.0.0.0/0 to: 224.0.0.0/4
    log: error
}
socks block {
    from: 0.0.0.0/0 to: 240.0.0.0/4
    log: error
}
socks block {
    from: 0.0.0.0/0 to: ::/0
    log: error
}
socks pass {
    from: 0.0.0.0/0 to: 0.0.0.0/0
    command: connect
    protocol: tcp
    proxyprotocol: socks_v5
    socksmethod: username
    user: gpt-switch-proxy
    log: error
}
# All other users, SOCKS4, BIND and UDP requests are denied by default.
